# Dependency
node_modules/
npm-debug.log*

# File Environment (JANGAN masuk ke image!)
.env
.env.*

# Service Account GCP (credential rahasia, tidak boleh masuk image)
*.json.bak

# Folder build output (akan di-generate ulang di dalam container)
dist/
node_modules
dist
npm-debug.log
.git
.env
Dockerfile
.dockerignore
