# Server
PORT=8082
NODE_ENV=development

# MySQL (Cloud SQL)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=jastip_db
DB_USER=jastip_user
DB_PASSWORD=secret

# MongoDB (GCE)
MONGO_URI=mongodb://127.0.0.1:27017/jastip_nosql
